%flex-content-center{
    display: flex;
    justify-content: center;
};

%flex-center-end{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*
extends para acortar el uso de codigo con flex
*/