/*index con un contenedor que incluye mixings y extends para trabajar los flex,
uso de mapa de colores
*/

body {
    main{
    .contenedor{
        width: 90%;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: map-get($colores, fondocontenedor);
        color: black;
        border-radius: 15px;
        padding: 20px;
        @include flex(flex,column,center);
        align-content: center;
        h3{
            font-family: "ingra-condensed", sans-serif;
            font-weight: 700;
            font-style: normal;
            color: black;
            text-align: center;
        };
        p{
            @extend %flex-content-center;
            font-family: "ingra-condensed", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: rgb(0, 0, 0);
            font-size: large;
   
        }
        .cartas{
            margin-top: 20px;
                .carta-cf{
                    background-image: url(../imagenes/crossfit/chica-barra.webp);
                }
                .carta-wl{
                    background-image: url(../imagenes/weighlifting/weightlifting.webp);
                }
                .carta-pw{
                    background-image: url(../imagenes/powerlifting/deadlift-chica.webp);
                }
                .carta-cf,.carta-wl,.carta-pw{
                    height: 300px;
                    background-color: map-get($colores,fondocartas);
                    background-size: cover;
                    background-position: center;
                    border-radius: 15px;
                    border-style:outset;
                    @extend%flex-center-end;
                    a{  
                            text-decoration: none;
                            color: black;                                
                            div{
                                width: 200px;
                                height: 30px;
                                background-color: map-get($colores,verde);
                                margin-bottom: 10px;
                                border-radius: 15px;
                                @extend%flex-center-end;                               

                                h4{
                                font-size: 15px;
                                font-family: "ingra", sans-serif;
                                font-weight: 400;
                                font-style: normal;
                                display: flex;
                                align-self: flex-end;
                                }
                            
                        }
                        a:hover{
                            color: white;
                        }
                    }
                    div:hover{
                        background-color: map-get($colores,fondopag);
                        h4{
                            color: white;
                        }
                        transform: scale(1.5);
                        transition: all 1s;
                    }
                }
            
        };
        .row{
            @extend%flex-content-center;
            h3{
                font-size: 25px ;
            }
        }
        


        .galeria{
            width: 100%;
            height: auto;
            margin: auto;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(1,80%);
            grid-template-rows: repeat(6,1fr);
            grid-gap: 10px;
            grid-template-areas: 
                "alan"
                "mujer"
                "alancito"
                "lupe"
                "hombre"
                "jime"    
            ;
            .imagen{
                width: 100%;
                border-radius: 15px;
            }
        
        .imagen1{
            grid-area: alan;
        }
        
        .imagen2{
            grid-area: mujer;
        }
        
        .imagen3{
            grid-area: hombre;
        }
        
        .imagen4{
            grid-area: lupe;
        }
        
        .imagen5{
            grid-area: alancito;
        }
        
        .imagen6{
            grid-area: jime;
        }
    }
        
}
}
}