$colores:(fondopag:black,
          fondocontenedor:white,
          fondocartas:gray,
          verde:rgb(9, 161, 103),
          crossfit:cadetblue,
          weightlifting:rgba(241, 166, 2, 0.774),
          powerlifting:rgba(179, 34, 34, 0.671),
          );

/*
mapa de colores para usar en las paginas
*/